<!-- wscms/newsletter/formInd.tpl.php v.1.0.0. 27/06/2016 -->
<div class="row">
	<div class="col-md-3 new">
 	</div>
	<div class="col-md-7 help-small-form">
		{% if App.params.help_small is defined and App.params.help_small != '' %}{{ App.params.help_small }}{% endif %}
	</div>
	<div class="col-md-2 help text-right">
		{% if (App.params.help is defined) and (App.params.help != '') %}
			<button class="btn btn-warning btn-sm" type="button" data-target="#helpModal" data-toggle="modal">Come funziona?</button>
		{% endif %}
	</div>
</div>

<div class="card shadow mt-3 mb-4">
	<div class="card-body">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="formTab" role="tablist">
			<li class="nav-item">	
				<a class="nav-link active" href="#datibase" id="datibase-tab" data-toggle="tab" role="tab" aria-controls="datibase" aria-selected="true">{{ Lang['dati base']|capitalize }}</a>
			</li>
		</ul>
		<!-- Nav tabs -->

		<form id="applicationForm" method="post" class="form-horizontal" role="form" action="{{ URLSITEADMIN }}{{ CoreRequest.action }}/{{ App.methodForm }}" enctype="multipart/form-data" method="post">

			<div class="tab-content" id="formTabContent">			
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase-tab">

					<fieldset>

						<div class="form-group row">
							<label for="nameID" class="col-md-3 control-label">Nome</label>
							<div class="col-md-7">
								<input required type="text" name="name" class="form-control" id="nameID" placeholder="Inserisci un nome" 
								value="{{ App.item.name }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="surnameID" class="col-md-3 control-label">Cognome</label>
							<div class="col-md-7">
								<input type="text" name="surname" class="form-control" id="surnameID" placeholder="Inserisci un cognome" 
								value="{{ App.item.surname }}">
					    	</div>
						</div>
				
						<div class="form-group row">
							<label for="emailID" class="col-md-3 control-label">Email</label>
							<div class="col-md-3">
								<input required type="email" name="email" class="form-control" id="emailID" placeholder="Inserisci un indirizzo email"  value="{{ App.item.email }}">
					    	</div>
						</div>
					
						<hr>
						
						<div class="form-group row">
							<label for="id_catsID" class="col-md-3 control-label">Id Categorie associate</label>
							<div class="col-md-7">
								{% if App.item_cats is iterable and App.item_cats|length > 0 %}
								<select required name="id_cats[]" class="form-control" size="15" multiple id="id_catsID">
									{% for key,value in App.item_cats %}
									<option value="{{ value.id }}"
									{% if value.id in App.item.cats %} selected="selected"{% endif %}
									>{{ value.id }} - {{ value.title_it }}</option>
									{% endfor %}		
								</select>
								{% endif %}									
							</div>
						</div>						
							
							
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ LangVars['attiva']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
							</div>
						</div>
						
					</fieldset>	
				</div>
	<!-- sezione datibase -->	  
		 
			</div>
			<!--/Tab panes -->	
			<hr>
			
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 text-center">
					<input type="hidden" name="dateconfirmed" id="dateconfirmedID" value="{{ App.item.dateconfirmed }}">
					<input type="hidden" name="confirmed" id="confirmedID" value="{{ App.item.confirmed }}">
					<input type="hidden" name="hash" id="hashID" value="{{ App.item.hash }}">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary submittheform ml-5">{{ Lang['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 text-right">				
					<a href="{{ URLSITEADMIN }}{{ CoreRequest.action }}/listInd" title="{{ Lang['torna alla %ITEM%']|replace({'%ITEM%': Lang['lista']})|capitalize }}" class="btn btn-success">{{ Lang['indietro']|capitalize }}</a>
				</div>
			</div>	
		</form>
	</div>
